ion-content {
  --background: var(--ion-color-light); 

  .ion-justify-content-center {
    height: 100%;
    align-items: center; // Centrage vertical
  }

  ion-card {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  ion-text p {
    font-size: 0.75rem;
    margin-top: -5px; 
    margin-bottom: 5px;
  }
}